/* Write your CSS here */
.footer-container {
  background-color: #cbd5e1;
  background-size: cover;
  width: 90vw;
  margin: 3px;
  font-family: Roboto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-heading {
  color: #475569;
  font-size: 35px;
}
